[submodule "Library/Ext/Flow"]
	path = Library/Ext/Flow
	url = git@github.com:cschladetsch/Flow.git
[submodule "Library/Ext/CliWrap"]
	path = Library/Ext/CliWrap
	url = https://github.com/Tyrrrz/CliWrap.git
